SlimsteMens.Services/Service References/SlimsteAdminService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="game" nillable="true" type="q1:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="resetGameDto" nillable="true" type="q2:ResetGameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextRound">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q3:TurnTypeDto" />
        <xs:element minOccurs="0" name="time" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRound369">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Question369Incorrect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Question369Correct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion369">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="questionDto" nillable="true" type="q4:ThreeSixNineQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion369Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQuestion369Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRoundPuzzle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextPuzzle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowPuzzleAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnForPuzzle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionPuzzleCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="puzzleId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPuzzleQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="puzzleQuestionDto" nillable="true" type="q5:PuzzleQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPuzzleQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPuzzleQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRoundGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnForGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GalleryQuestionCorrect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GalleryQuestionIncorrect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowNextGalleryQuestionAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGallery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="gallery" nillable="true" type="q6:GalleryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGalleryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGalleryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRoundVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayVideoCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnForVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionVideoCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowVideoAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="video" nillable="true" type="q7:VideoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVideoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartFinale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextFinaleQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowFinaleQuestionAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnForFinaleQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinaleQuestionCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTieBreakerWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="winners" nillable="true" type="q8:ArrayOfTurnTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFinaleTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q9:FinaleTurnTypeDto" />
        <xs:element minOccurs="0" name="time" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFinaleQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="finaleDto" nillable="true" type="q10:FinaleQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFinaleQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFinaleQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="game" nillable="true" type="q11:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFinaleStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="finale" nillable="true" type="q12:FinaleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSetTimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q13:TurnTypeDto" />
        <xs:element minOccurs="0" name="seconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnSetTimerFinale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q14:FinaleTurnTypeDto" />
        <xs:element minOccurs="0" name="seconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTurnChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q15:TurnTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFinaleTurnChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="turn" type="q16:FinaleTurnTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartRound369">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnQuestion369">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="question" nillable="true" type="q17:ThreeSixNineQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEndRound369">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartRoundPuzzle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnQuestionPuzzle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="puzzle" nillable="true" type="q18:ArrayOfPuzzleQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPuzzleCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="puzzleId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnQuestionPuzzleCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShowPuzzleAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEndRoundPuzzle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartRoundGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNextGalleryQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGalleryCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnQuestionGallery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="galleryDto" nillable="true" type="q19:GalleryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShowGalleryAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEndRoundGallery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStartRoundVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnQuestionVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="videoDto" nillable="true" type="q20:VideoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayVideoCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnVideoQuestionCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnVideoCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShowVideoAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEndRoundVideo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTiebreakerQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="players" nillable="true" type="q21:ArrayOfTurnTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFinaleQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SlimsteMens.Service.DataContracts" minOccurs="0" name="finaleQuestionDto" nillable="true" type="q22:FinaleQuestionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFinaleQuestionCompleted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShowFinaleQuestionAnswers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFinaleAnswerCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameWon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>